<h1 class="admintitle">Bem vindo ao painel de administradores</h1>
<a href="/admin/create" class="link-admin"><button class="btn-admin">Criar postagem</button></a>
<a href="/admin/modify" class="link-admin"><button class="btn-admin">Modificar postagens</button></a>