<nav>
    <h1>Projeto</h1>
    <ul>
        <a href="http://localhost:2024/register">
            <li>Cadatrar-se</li>
        </a>
        <a href="http://localhost:2024/signin">
            <li>Login</li>
        </a>
        <a href="http://localhost:2024/users/main">
            <li>Página principal</li>
        </a>
    </ul>
</nav>