<h2 class="welcome">Seja bem vindo</h2>
<h3 class="lookposts">Veja as postagens:</h3>
<div class="postlist">
    {{#each posts}}
        <div class="post">
            <h3>{{name}}</h3>
            <hr>
            <p>{{description}}</p>
            <a href="/users/main/{{_id}}"><button class="btn-lookmore">Veja mais</button></a>
        </div>
    {{else}}
        <h3>Nenhuma postagem registrada</h3>
    {{/each}}
</div>