{{#each erros}}
    <div class="msg error_msg">{{message}}</div>
{{else}}

{{/each}}

<h1 class="titulo">Cadastre-se aqui:</h1>
<form action="/register/new" method="post" class="userform">
    <label for="name">Nome: </label>
        <input type="text" name="name" id="name" required>
    <label for="surname">Sobrenome: </label>
        <input type="text" name="surname" id="surname" required>
    <label for="email">Email: </label>
        <input type="email" name="email" id="email" required>
    <label for="password">Senha: </label>
        <input type="password" name="password" id="password" required>
    <label for="verifypassword">Digite sua senha novamente: </label>
        <input type="password" name="verifypassword" id="verifypassword" required>
    <button type="submit" class="submit">Cadatrar usuário</button>
</form>